{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}
{% block title %}
{% endblock %}
{% block header %}



	<nav class="navbar navbar-expand-lg navEspecial">
   
	<a  type="button" class="btn btn-light d-flex ms-auto margenBoton" a href={{ path('app_login') }} >Autenticarse</a>
    
	</nav>



</nav>{% endblock %}

{% block body %}

<div class="col-sm-1 mx-auto iconPrincipal">

<blockquote class="blockquote text-center">
<img src="{{ asset('images/CBM_1.png') }}" class="cbmIcon">
			<p type="button"  class="btnmain">Almacen</p>
 <p  type="button" class="btnmain"><a href={{ path('app_provider_index') }}>Proveedores</a></p>
<p  type="button" class="btnmain"><a href={{ path('app_economia_index') }}>Economia</a></p>
			</blockquote>


</div>




{% endblock %}
