{% extends 'base.html.twig' %}

{% block title %}
    Provider
    
    
    
{% endblock %}

{% block header %}
   
    <nav class="navbar bg-body-tertiary navEspecial">
        <div class="container-fluid">

            <a href="{{ path('app_economia_index') }}">
                <h4 class="navCartel">
                    Economia
                    
                    				
                </h4>
            </a>

        </div>

    </nav>

</nav>{% endblock %}{% block body %}
    <br>
                    {% for eco in economias %}
                        <div class="cardCenter row mx-auto">
                            <div class="col-sm-8 mb-3 mb-sm-0">
                                <div class="shadow p-0 mb-5 bg-body rounded">
                        <div class="card">
                            <div class="card-body">
                                {% set id = loop.index  %}
                                    {{ include('economia2/_lista.html.twig',{"eco":eco,"idPos":id}) }}
                               
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
        {% endblock %}
        